.section-title {
  text-align: center;
  width: 420px;
  border-bottom: #c1c1c1 solid 1px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6px;
}

.removeCard {
  margin-left: 20px;
}

.card-list {
  list-style: none;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.card-detail {
  border: 2px dashed #e1e1e1;
  margin: 8px;
  padding: 8px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.detail-link {
  color: #CCCDCF;
  background-color: #762148;
  padding: 4px;
  border-radius: 4px;
}
