.app-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.app-title {
  text-align: center;
}

.nav-styles {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  padding: 8px 25px;
  font-size: 20px;
  line-height: 24px;
  background-color: #762148;
  color: #CCCDCF;
  border: 2px solid #080206;
}
