.form-field {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
